    <!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid" background="/food.jpg">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="bgimg-1">
            <div class="caption">
            </div>
        </div>
        <div class="container">
            <div class="box">
            </div>
            <div class="content">
                <h1>Allergy Free Pal</h1>
                <p>Bored of eating at home? Want to go out to eat with friends but unsure of where to go? Never fear, Allergy Free Pal is here! Allergy Free Pal is an allergy friendly restaurant finder that will give you a list of restaurants to choose from based on your allergies. </p>
            </div>
        </div>
        <div align="center">
            <div class="container-1">
                <div class="verticalcenter"></div>
                <div class="h1">Restaurant Finder</div>
                <!-- there is a bug, I don't know why data cannot be rendered, try to fix it -->
                Find allergy-friendly<br>restaurants near you!
                <div class="tab">
                    <div class="col">
                        <% allergysources.forEach(function(allergy) { %>
                        <h2 value="<%= allergy.name %>"><%= allergy.name %> </h2>
                        <%for(var i = 0; i< allergy.food_eg.length; i++){%>
                        <p> <%= allergy.food_eg[i]%></p>
                        <% }}); %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>
