<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid" background="/food.jpg">
    <header>
        <% include ../partials/header %>
        <script type="text/javascript">
        $('.home a').addClass('active');
        </script>
    </header>
    <main>
        <div class="box">
        </div>
        <div class="content">
            <h1>Allergy Free Pal</h1>
            <p>Bored of eating at home? Want to go out to eat with friends but unsure of where to go? Never fear, Allergy Free Pal is here! Allergy Free Pal is an allergy friendly restaurant finder that will give you a list of restaurants to choose from based on your allergies. </p>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form id="regForm" action="/maps" method="GET" enctype="multipart/form-data">
                    <div class="h1">Restaurant Finder</div>
                    <div class="subtitle">Find allergy-friendly</div>
                    <span class="subtitle">restaurants near you!</span>
                    <input placeholder="Enter your zip code if you can not use GPS" oninput="this.className = ''" name="zipcode">
                    <div class="col">
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="inlinecheckbox1" value="gluten">
                            <label class="form-check-label" for="inlineCheckbox1">Gluten</label>
                        </div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="peanuts">
                            <label class="form-check-label" for="inlineCheckbox1">Peanuts</label>
                        </div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="soy">
                            <label class="form-check-label" for="inlineCheckbox1">Soy</label>
                        </div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="milk">
                            <label class="form-check-label" for="inlineCheckbox1">Milk</label>
                        </div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="tree nuts">
                            <label class="form-check-label" for="inlineCheckbox1">TreeNuts</label></div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="gluten">
                            <label class="form-check-label" for="inlineCheckbox1">Eggs</label></div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="gluten">
                            <label class="form-check-label" for="inlineCheckbox1">fish</label>
                        </div>
                        <div class="form-check form-ckeck-inline">
                            <input class="form-check-input" type="checkbox" id="checkbox1" value="gluten">
                            <label class="form-check-label" for="inlineCheckbox1">Shellfish</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
        var pos;
        $(window).load(getLocation);
        //add current position field in request parameters
        $('#regForm').submit(function(event) {
            //output current position
            alert(JSON.stringify(pos));
            $('<input />').attr('type', 'hidden')
                .attr('name', "position_lat")
                .attr('value', pos.lat)
                .appendTo('#regForm');
            $('<input />').attr('type', 'hidden')
                .attr('name', "position_lng")
                .attr('value', pos.lng)
                .appendTo('#regForm');
            $('<input />').attr('type', 'hidden')
                .attr('name', "position")
                .attr('value', JSON.stringify(pos))
                .appendTo('#regForm');
            return true;
        })

        //get current position
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
                alert('We got your Location!')
            } else {
                console.log("hhh");
            }
        }
        </script>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>