<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid" background="/food.jpg">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="box">
        </div>
        <div class="content">
            <h1>Allergy Free Pal</h1>
            <p>Bored of eating at home? Want to go out to eat with friends but unsure of where to go? Never fear, Allergy Free Pal is here! Allergy Free Pal is an allergy friendly restaurant finder that will give you a list of restaurants to choose from based on your allergies. </p>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form id="regForm" action="/maps" method="GET" enctype="multipart/form-data">
                    <div class="h1">Restaurant Finder</div>
                    <div class="subtitle">Find allergy-friendly</div>
                    <span class="subtitle">restaurants near you!</span>
                    <input placeholder="Enter your zip code" oninput="this.className = ''" name="zipcode">
                    <div class="col">
                        <input name="allergy" type="checkbox" value="gluten">Gluten
                        <input name="allergy" type="checkbox" value="peanuts">Peanuts
                        <input name="allergy" type="checkbox" value="soy">Soy
                        <input name="allergy" type="checkbox" value="milk">Milk
                        <input name="allergy" type="checkbox" value="nuts">Tree Nuts
                        <input name="allergy" type="checkbox" value="egg">Eggs
                        <input name="allergy" type="checkbox" value="fish">Fish
                        <input name="allergy" type="checkbox" value="shellfish">Shellfish
                        <input type="submit" name="" value="search">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>