<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
    #map {
        width: 1000px;
        height: 500px;
        float: right;
        position: relative;
    }
    </style>
</head>

<body class="container-fluid" background="/food.jpg">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6 offset-md-2">
                <div id="map"></div>
            </div>
        </div>
        <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var zipcode = "<%= zipcode%>";
        console.log("current zipcode is:" + zipcode);
        var lat = "<%= lat %>" - 0;
        var lng = "<%= lng %>" - 0;
        console.log(lat);
        var map, infoWindow, pos;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: lat, lng: lng },
                zoom: 15
            });

            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    //output current location
                    console.log(JSON.stringify(pos));
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('You are here!');
                    infoWindow.open(map);
                    map.setCenter(pos);
                    
                    //get restaurant info from google map API
                    $.ajax({
                        url: 'maps',
                        type: 'POST',
                        data: {
                            'position': pos,
                        },
                        dataType: "json",
                        success: function() {
                            // var foods = JSON.parse(data);
                            console.log(JSON.stringify(pos));


                        },
                        error: function(request, error) {
                            alert("Error!");
                        }
                    });
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDglInf1mZbMmHuhhJIHbsphj5GxiiopHg&callback=initMap">
        </script>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>