<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container" background="/food.jpg">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <iframe width="70%" frameborder="0" style="border:0" align="right" src="https://www.google.com/maps/embed/v1/place?q=boston%20university&key=AIzaSyAUey1dCyU8FmiyxR-kSEY7sljqj5Gq0d8" allowfullscreen></iframe>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>