#regForm {
  background-color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px auto;
  font-family: Raleway;
  color:white;
  padding: 30px;
  width: 70%;
  min-width: 300px;
}

.h1 {
  float:center;
  text-align: center;
  font-size: 2em;
}
.subtitle{
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */


/*button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}*/
  
.verticalcenter
  {
    display: table-cell;
    height: 400px;
    vertical-align: middle;
  }

* {
  box-sizing: border-box;
}
  
  .col {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding-bottom: 5px;
}



/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
/*.container-fluid .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container-fluid .btn:hover {
  background-color: black;
}*/
.container-fluid img {vertical-align: middle;}

.content {
  position: relative;
  top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
}
.container-1{
  width: 300px;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 10pt;
  float: center;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
  
.container-1 .icon{
  top: 0;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}