<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>AllergyFreePal</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/css/basics.css">
<style>

</style>
