<!-- views/partials/header.ejs -->
<div class="nav">
    <ul>
        <li class="home"><a class="active" href="/">Home&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li class="maps"><a href="/maps">Maps&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li class="allergies"><a href="/allergy">Allergies&nbsp;&nbsp;</a></li>
    </ul>
</div>